/*Defining custom fonts*/
@font-face {
  font-family: Queensides;
  src: url('../fonts/Queensides.ttf') format('truetype');
}
@font-face {
  font-family: Queensides;
  src: url('../fonts/QueensidesMedium.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: Queensides;
  src: url('../fonts/QueensidesLight.ttf') format('truetype');
  font-weight: lighter;
}
@font-face {
  font-family: American Captain;
  src: url('../fonts/AmericanCaptain.otf') format('opentype');
}
@font-face {
  font-family: Minomu;
  src: url('../fonts/MinomuBlack.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Minomu;
  src: url('../fonts/MinomuBlackitalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Minomu;
  src: url('../fonts/MinomuBold.otf') format('opentype');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: Minomu;
  src: url('../fonts/MinomuDemibolditalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: Minomu;
  src: url('../fonts/MinomuDemibold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Minomu;
  src: url('../fonts/MinomuItalic-PKxeB.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Minomu;
  src: url('../fonts/MinomuLight-L3xgn.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

.bar {
  min-width: 100%;
  background-color: #3b4145;
  height: 70px;
  border-bottom: 2px solid grey
}
.option {
  display: inline-block;
  position: relative;
  padding: 0px 0px;
  min-width: 15px;
  border-right: 2px solid grey;
  font-family: Minomu, Arial;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
  height: 100%;
}
.option a {
  color: #F3FFFF;
}
.option:hover {
  background-color: #3b4155;
}
.option a:hover {
  font-weight: bold;
  text-decoration: none;
}
.dropdown {
  display: none;
  position: absolute;
  background-color: #3b4145;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: black;
  border-right: 2px solid grey;
  border-bottom: 3px solid #7DF9FF;
  border-collapse: collapse;
}

.dropdown a {
  color: #f3ffff;
  font-size: 18px;
  line-height: 100%;
  padding: 3px 5px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-weight: lighter;
  margin: 0px;
}

.dropdown div:hover {
  color: #d1d1d1;
  background-color: #3b4155;
}

.option:hover .dropdown {
  display: block;
}

.subdropdown {
  display: none;
  visibility: hidden;
  position: absolute;
  background-color: #3b4145;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-right: 2px solid grey;
  border-bottom: 3px solid #7DF9FF;
  transition-delay: 0.5s;
}
.subdropdown a {
  color: #f3ffff;
  font-size: 18px;
  line-height: normal;
  padding: 5px;
  margin: 0px;
  text-decoration: none;
  display: inherit;
  text-align: center;
  min-height: 40px;
  font-weight: lighter;
}
.subdropdown a:hover {
  color: #d1d1d1;
  background-color: #3b4155;
}

.dropdown:hover .subdropdown {
  display: inline-block;
  visibility: visible;
}

.navlogo {
  float: left;
  padding: 0px;
  border-right: 1px solid grey;
  position: relative;
  height: 70px;
  width: 300px;
  background-color: black;
}

@media screen (and max-width: 780px ){

}